body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

/* The alert message box */
.alert {
    font-size: 2vh;
    padding: 1vw;
    width: 90%;
    color: white;
    margin: 1vh auto;
    opacity: .7;
    transition: opacity .6s;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
     left: 5%;
}

.error {
    background-color: #f44336; /* Red */
}

.warn {
    background-color: #ff9800; /* Yellow */
}

.info {
    background-color: #2196F3; /* Blue */
}

.success {
    background-color: #04AA6D; /* Green */
}

/* The close button */
.closeBtn {
    margin-left: 1vw;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 5vh;
    line-height: 2vh;
    cursor: pointer;
    transition: 0.3s;
}

.closeBtnR {
    margin-right: 1vw;
    color: white;
    font-weight: bold;
    float: left;
    font-size: 5vh;
    line-height: 2vh;
    visibility: hidden;
}

/* When moving the mouse over the close button */
.closeBtn:hover {
    color: black;
}

table {
    font-size: 2vh;
    border-collapse: collapse;
    margin: 2vw;
}

td, th {
    text-align: center;
    vertical-align: middle;
    padding: 1vh 1vw;
}

.showGuest {
    padding: 0;
}

tbody, thead {
    border: 1px solid gray;
    border-left: 1vw solid;
}

.tblGroup:nth-child(odd) {
    border-color: black;
    background-color: lightgray;
}

.tblGroup:nth-child(even) {
    border-color: gray;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    align-content: center;
}

.main {
    height: 100vh;
    width: 100vw;
}

.group {
    margin: 2vh;
}

.element {
    margin: 1vh;
}

.alertHolder {
    position: relative;
    z-index: 1;
    width: 100%;
}
