{% extends "base.html" %}
{% block content %}
    <section class="bg-dark text-light mt-5">
        <div class="container-sm">
            <p class="h1 py-2">Event Check In</p>
        </div>
    </section>

    <section class="my-5">
        <div class="container-sm">
            <p class="h1 my-3">All Attendees</p>

            <table class="table table-hover align-middle">
                <thead>
                <tr>
                    <th>Ticket #</th>
                    <th>School ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in students %}
                    <tr>
                        <td class="py-3">{{ i.ticket_num }}</td>
                        <td class="py-3">{{ i.school_id }}</td>
                        <td class="py-3">{{ i.first_name }}</td>
                        <td class="py-3">{{ i.last_name }}</td>
                        {% if i.guests %}
                            <td>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#guestTable{{ i.school_id }}">
                                    Hi
                                </button>
                            </td>
                        {% else %}
                            <td class="py-3"></td>
                        {% endif %}
                    </tr>
                    {% if i.guests %}
                        <tr class="collapse show" id="guestTable{{ i.school_id }}">
                            <td colspan="5">
                                <table class="table mb-0">
                                    {% for j in i.guests %}
                                        <thead>
                                        <tr>
                                            <th>Ticket #</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ j.ticket_num }}</td>
                                            <td>{{ j.first_name }}</td>
                                            <td>{{ j.last_name }}</td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
