<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Check In</title>

    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert {{ category }}">
            {{ message }}
            <span class="closeBtn" onclick="">&times;</span>
        </div>
    {% endfor %}
{% endwith %}

{% block content %}{% endblock %}

<script src={{ url_for("static", filename="js/script.js") }}></script>

</body>
</html>
