<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Check In</title>

    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="alertHolder">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">
                <span class="closeBtnR">&times;</span>
                {{ message }}
                <span class="closeBtn">&times;</span>
            </div>
        {% endfor %}
    {% endwith %}
</div>

{% block content %}{% endblock %}

<script src={{ url_for("static", filename="js/base.js") }}></script>
<script src={{ url_for("static", filename="js/" ~ self._TemplateReference__context.name.split(".")[0] ~ ".js") }}></script>

</body>
</html>
