{% extends "base.html" %}
{% block content %}
    {% if not success %}
        <div class="flex">
            <h1>Login!</h1>
        </div>
        <div class="flex">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="group">
                    <div class="element">
                        {{ form.username.label }}
                    </div>
                    <div class="element">
                        {{ form.username }}
                    </div>
                </div>
                <div class="group">
                    <div class="element">
                        {{ form.password.label }}
                    </div>
                    <div class="element">
                        {{ form.password }}
                    </div>
                </div>
                <div class="group">
                    <input type="submit" value="Go">
                </div>
            </form>

        </div>

    {% else %}

        <h1>Login In Successful!</h1>

    {% endif %}
{% endblock %}
