{% extends "base.html" %}
{% block content %}
    <div class="flex main">
        <div class="flex sub">
            <div class="flex sub-name">
                <h1>Register</h1>
            </div>
            <div class="flex sub-content">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="group">
                        <div class="element">
                            {{ form.username.label }}
                        </div>
                        <div class="element">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="element">
                            {{ form.password.label }}
                        </div>
                        <div class="element">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="element">
                            {{ form.currentPassword.label }}
                        </div>
                        <div class="element">
                            {{ form.currentPassword }}
                        </div>
                    </div>
                    <div class="group">
                        <div class="element">
                            <input class="w3-button w3-green" type="submit" value="Register">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
