{% extends "base.html" %}
{% block content %}
    <section class="bg-dark text-light mt-5">
        <div class="container-sm">
            <p class="h1 py-2">Event Check In</p>
        </div>
    </section>

    <section class="my-5">
        <div class="container-sm">
            <p class="h1 my-3">Register</p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirmPassword.label(class="form-label") }}
                    {{ form.confirmPassword(class="form-control") }}
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
