{% extends "base.html" %}
{% block content %}
    <section class="my-5">
        <div class="container">
            <p class="h1 my-3">Find User</p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.query(class="form-control") }}
                    <input class="btn btn-outline-primary" type="submit" value="Search">
                </div>
            </form>
        </div>
    </section>

    {% if students %}
        <section class="my-5">
            <div class="container border rounded">
                <p class="h1 my-3">Students</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ticket #</th>
                        <th>Student ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in students %}
                        <tr data-bs-toggle="modal" data-bs-target="#modal-{{ i.school_id }}">
                            <td>{{ i.ticket_num }}</td>
                            <td>{{ i.school_id }}</td>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.last_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}

    {% if guests %}
        <section class="my-5">
            <div class="container border rounded">
                <p class="h1 my-3">Guests</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ticket #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in guests %}
                        <tr data-bs-toggle="modal" data-bs-target="#modal-{{ j.host_id }}-{{ j.id }}">
                            <td>{{ j.ticket_num }}</td>
                            <td>{{ j.first_name }}</td>
                            <td>{{ j.last_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}

    {% for i in students %}
        <div class="modal fade" id="modal-{{ i.school_id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ i.last_name }}, {{ i.first_name }}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-4">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k in i.timeEntries %}
                                    <tr>
                                        <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                        <td>{{ k.time.strftime("%r") }}</td>
                                        <td>{{ "Check In" if k.is_check_in else "Check Out" }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{{ url_for("action.logStudent", id_=i.id) }}" type="button" class="btn btn-primary">Check {{ "Out" if i.checked_in else "In" }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for j in guests %}
        <div class="modal fade" id="modal-{{ j.host_id }}-{{ j.id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ j.last_name }}, {{ j.first_name }}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="container mt-4">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k in j.timeEntries %}
                                    <tr>
                                        <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                        <td>{{ k.time.strftime("%r") }}</td>
                                        <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{{ url_for("action.logGuest", id_=j.id) }}" type="button"
                           class="btn btn-primary">Check {{ "Out" if j.checked_in else "In" }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
