{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <p class="h1 my-3">Register</p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirmPassword.label(class="form-label") }}
                    {{ form.confirmPassword(class="form-control") }}
                </div>
                <div>
                    <button class="btn btn-outline-dark" type="submit">Register</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
