{% extends "base.html" %}

{% block title %}
    Search
{% endblock title %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <p class="h1 my-3">Find User</p>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form.query(class="form-control", id="search") }}
                        <input class="btn btn-outline-dark" type="submit" value="Search">
                    </div>
                    {% if total_results %}
                        <small class="form-text text-muted" id="searchResults">
                            {{ total_results }} Result{{ "s" if total_results != 1 else "" }}
                        </small>
                    {% endif %}
                </div>

            </form>
        </div>
    </section>

    {# Tables #}
    {% if students %}
        <section class="my-5">
            <div class="container border rounded">
                <p class="h1 my-3">Students</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ticket #</th>
                        <th>Student ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in students %}
                        <tr data-bs-toggle="modal" data-bs-target="#student-modal-{{ i.school_id }}">
                            <td>{{ i.ticket_num }}</td>
                            <td>{{ i.school_id }}</td>
                            <td>{{ i.first_name }}</td>
                            <td>{{ i.last_name }}</td>
                            <td>
                                <a href="{{ url_for("action.log", id_=i.id, group="student") }}" type="button"
                                   class="btn btn-outline-dark my-0 py-0 log">Check {{ "Out" if i.checked_in else "In" }}</a>
                            </td>
                            <td>
                                {% if i.checked_in %}
                                    <i class="bi bi-check2"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}

    {% if guests %}
        <section class="my-5">
            <div class="container border rounded">
                <p class="h1 my-3">Guests</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ticket #</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in guests %}
                        <tr data-bs-toggle="modal" data-bs-target="#guest-modal-{{ j.id }}">
                            <td>{{ j.ticket_num }}</td>
                            <td>{{ j.first_name }}</td>
                            <td>{{ j.last_name }}</td>
                            <td>
                                <a href="{{ url_for("action.log", id_=j.id, group="guest") }}" type="button"
                                   class="btn btn-outline-dark my-0 py-0 log">Check {{ "Out" if j.checked_in else "In" }}</a>
                            </td>
                            <td>
                                {% if j.checked_in %}
                                    <i class="bi bi-check2"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    {% endif %}

    {# Modals #}
    {% for i in students %}
        <div class="modal fade" id="student-modal-{{ i.school_id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ i.last_name }}, {{ i.first_name }}
                            {% if i.checked_in %}
                                <i class="bi bi-check2"></i>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs" role="tablist">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#info-{{ i.school_id }}" type="button" role="tab">
                                    Info
                                </button>
                                {% if i.guests %}
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#guests-{{ i.school_id }}" type="button"
                                            role="tab">
                                        Guests
                                    </button>
                                {% endif %}
                                <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#log-{{ i.school_id }}" type="button" role="tab">
                                    Log
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info-{{ i.school_id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Ticket #</th>
                                            <th>Student ID</th>
                                            <th>{{ "Payment Type" if i.is_cash else "Check #" }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ i.ticket_num }}</td>
                                            <td>{{ i.school_id }}</td>
                                            <td>{{ "Cash" if i.is_cash else i.check_num }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="guests-{{ i.school_id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Ticket #</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>{{ "Payment Type" if i.is_cash else "Check #" }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for j in i.guests %}
                                            <tr data-bs-toggle="modal"
                                                data-bs-target="#student-modal-{{ i.school_id }}-{{ j.id }}">
                                                <td class="py-3">{{ j.ticket_num }}</td>
                                                <td class="py-3">{{ j.first_name }}</td>
                                                <td class="py-3">{{ j.last_name }}</td>
                                                <td class="py-3">{{ "Cash" if j.is_cash else j.check_num }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="log-{{ i.school_id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Logged By</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for k in i.timeEntries %}
                                            <tr>
                                                <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                                <td>{{ k.time.strftime("%r") }}</td>
                                                <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                <td>
                                                    <a href="{{ url_for("action.removeLog", entry_id=k.id, group="student") }}"
                                                       class="btn"><i class="bi bi-trash-fill"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{{ url_for("action.log", id_=i.id, group="student") }}" type="button"
                           class="btn btn-dark">Check {{ "Out" if i.checked_in else "In" }}</a>
                    </div>
                </div>
            </div>
        </div>

        {% for j in i.guests %}
            <div class="modal fade" id="student-modal-{{ i.school_id }}-{{ j.id }}" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="h5 modal-title">
                                {{ j.last_name }}, {{ j.first_name }}
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <nav>
                                <div class="nav nav-tabs" role="tablist">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#info-{{ i.school_id }}-{{ j.id }}"
                                            type="button"
                                            role="tab">
                                        Info
                                    </button>
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#log-{{ i.school_id }}-{{ j.id }}"
                                            type="button"
                                            role="tab">
                                        Log
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info-{{ i.school_id }}-{{ j.id }}"
                                     tabindex="0">
                                    <div class="container mt-4">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Ticket #</th>
                                                <th>{{ "Payment Type" if j.is_cash else "Check #" }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ j.ticket_num }}</td>
                                                <td>{{ "Cash" if j.is_cash else j.check_num }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="log-{{ i.school_id }}-{{ j.id }}" tabindex="0">
                                    <div class="container mt-4">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                                <th>Logged By</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for k in j.timeEntries %}
                                                <tr>
                                                    <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                                    <td>{{ k.time.strftime("%r") }}</td>
                                                    <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                    <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                    <td>
                                                        <a href="{{ url_for("action.removeLog", entry_id=k.id, group="student") }}"
                                                           class="btn"><i class="bi bi-trash-fill"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Close
                            </button>
                            <button class="btn btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#student-modal-{{ i.school_id }}">
                                Return
                            </button>
                            <a href="{{ url_for("action.log", id_=j.id, group="guest") }}" type="button"
                           class="btn btn-dark">Check {{ "Out" if j.checked_in else "In" }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    {% for i in guests %}
        <div class="modal fade" id="guest-modal-{{ i.id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ i.last_name }}, {{ i.first_name }}
                            {% if i.checked_in %}
                                <i class="bi bi-check2"></i>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav class="nav nav-tabs">
                            <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#info-{{ i.id }}" type="button">
                                Info
                            </button>
                            <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#log-{{ i.id }}" type="button">
                                Log
                            </button>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info-{{ i.id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Ticket #</th>
                                            <th>{{ "Payment Type" if i.is_cash else "Check #" }}</th>
                                            <th>Host</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-bs-toggle="modal"
                                            data-bs-target="#guest-modal-{{ i.id }}-{{ i.host.school_id }}">
                                            <td>{{ i.ticket_num }}</td>
                                            <td>{{ "Cash" if i.is_cash else i.check_num }}</td>
                                            <td>{{ i.host.last_name }}, {{ i.host.first_name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="log-{{ i.id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Logged By</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for k in i.timeEntries %}
                                            <tr>
                                                <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                                <td>{{ k.time.strftime("%r") }}</td>
                                                <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                <td>
                                                    <a href="{{ url_for("action.removeLog", entry_id=k.id, group="guest") }}"
                                                       class="btn"><i class="bi bi-trash-fill"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <a href="{{ url_for("action.log", id_=i.id, group="guest") }}" type="button"
                           class="btn btn-dark">Check {{ "Out" if i.checked_in else "In" }}</a>
                    </div>
                </div>
            </div>
        </div>

        {% set j = i.host %}
        <div class="modal fade" id="guest-modal-{{ i.id }}-{{ j.school_id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ j.last_name }}, {{ j.first_name }}
                            {% if j.checked_in %}
                                <i class="bi bi-check2"></i>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#info-{{ i.id }}-{{ j.school_id }}" type="button">
                                    Info
                                </button>
                                <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#log-{{ i.id }}-{{ j.school_id }}" type="button">
                                    Log
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info-{{ i.id }}-{{ j.school_id }}"
                                 tabindex="0">
                                <div class="container mt-4">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Ticket #</th>
                                            <th>Student ID</th>
                                            <th>{{ "Payment Type" if j.is_cash else "Check #" }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ j.ticket_num }}</td>
                                            <td>{{ j.school_id }}</td>
                                            <td>{{ "Cash" if j.is_cash else j.check_num }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="log-{{ i.id }}-{{ j.school_id }}" tabindex="0">
                                <div class="container mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Status</th>
                                            <th>Logged By</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for k in j.timeEntries %}
                                            <tr>
                                                <td>{{ k.time.strftime("%a, %b %e, %Y") }}</td>
                                                <td>{{ k.time.strftime("%r") }}</td>
                                                <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                <td>
                                                    <a href="{{ url_for("action.removeLog", entry_id=k.id, group="guest") }}"
                                                       class="btn"><i class="bi bi-trash-fill"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-outline-dark" data-bs-toggle="modal"
                                data-bs-target="#guest-modal-{{ i.id }}">
                            Return
                        </button>
                        <a href="{{ url_for("action.log", id_=j.id, group="student") }}" type="button"
                           class="btn btn-dark">Check {{ "Out" if j.checked_in else "In" }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script src="{{ url_for("static", filename="js/search.js") }}"></script>
{% endblock content %}
