{% extends "base.html" %}

{% block title %}
    Upload
{% endblock title %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <p class="h1 my-3">Upload</p>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="input-group">
                    {{ form.csvData(class="form-control") }}
                    <input class="btn btn-outline-dark" type="submit" value="Upload">
                </div>
                <small class="form-text text-muted"><span class="fw-bold">Warning:</span> Uploading a file will permanently delete all uploaded data; Please
                    download all data before uploading a file</small>
            </form>
        </div>
    </section>
{% endblock content %}
