{% extends "main/attendees/attendeeBase.html" %}

{% block group %}
    Guest
{% endblock group %}

{# Table #}
{% block table %}
    <section class="my-5">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column mb-3">
                    <p class="h1 m-0">All Guests</p>
                    <p class="text-muted m-0">{{ total_results }} Total
                        Guest{{ "s" if total_results != "1" else "" }}</p>
                </div>
                <div class="d-flex">
                    <a href="{{ url_for("main.attendees", guests=false) }}"
                       class="btn btn-outline-dark mx-1">Students</a>
                    <a href="{{ url_for("action.download", group="all") }}" class="btn btn-dark mx-1">
                        <i class="bi bi-download me-0 me-md-1"></i>
                        <span class="d-none d-md-inline">Download</span>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                    <tr>
                        <th>
                            <a href="{{ url_for("main.attendees", filter="first_name", desc=filter == "first_name" and not desc, guests=guests) }}"
                               class="btn btn-outline-dark border-0 me-2 px-1 py-0" id="first_name">
                                <i class="bi bi-filter"></i>
                            </a>
                            First <span class="d-none d-md-inline"> Name</span>
                        </th>
                        <th>
                            <a href="{{ url_for("main.attendees", filter="last_name", desc=filter == "last_name" and not desc, guests=guests) }}"
                               class="btn btn-outline-dark border-0 me-2 px-1 py-0" id="last_name">
                                <i class="bi bi-filter"></i>
                            </a>

                            Last <span class="d-none d-md-inline"> Name</span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in group %}
                        <tr data-bs-toggle="modal" data-bs-target="#modal-{{ i.id }}">
                            <td class="py-3">{{ i.first_name }}</td>
                            <td class="py-3">{{ i.last_name }}</td>
                            <td>
                                {% if i.checked_in %}
                                    <i class="bi bi-check2"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock table %}

{# Modals #}
{% block modals %}
    {% for i in group %}
        <div class="modal fade" id="modal-{{ i.id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ i.last_name }}, {{ i.first_name }}
                            {% if i.checked_in %}
                                <i class="bi bi-check2"></i>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav class="nav nav-tabs">
                            <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#info-{{ i.id }}" type="button">
                                Info
                            </button>
                            <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#log-{{ i.id }}" type="button">
                                Log
                            </button>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info-{{ i.id }}" tabindex="0">
                                <div class="container mt-4">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Host</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-bs-toggle="modal"
                                                data-bs-target="#modal-{{ i.id }}-{{ i.host.school_id }}">
                                                <td>{{ i.host.last_name }}, {{ i.host.first_name }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="log-{{ i.id }}" tabindex="0">
                                <div class="container mt-4">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                                <th>Logged By</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for k in i.timeEntries %}
                                                <tr>
                                                    <td>{{ k.time.strftime("%a, %b %d, %Y") }}</td>
                                                    <td>{{ k.time.strftime("%r") }}</td>
                                                    <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                    <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% set j = i.host %}
        <div class="modal fade" id="modal-{{ i.id }}-{{ j.school_id }}" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            {{ j.last_name }}, {{ j.first_name }}
                            {% if j.checked_in %}
                                <i class="bi bi-check2"></i>
                            {% endif %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs">
                                <button class="nav-link active" data-bs-toggle="tab"
                                        data-bs-target="#info-{{ i.id }}-{{ j.school_id }}" type="button">
                                    Info
                                </button>
                                <button class="nav-link" data-bs-toggle="tab"
                                        data-bs-target="#log-{{ i.id }}-{{ j.school_id }}" type="button">
                                    Log
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info-{{ i.id }}-{{ j.school_id }}"
                                 tabindex="0">
                                <div class="container mt-4">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Student ID</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ j.school_id }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="log-{{ i.id }}-{{ j.school_id }}" tabindex="0">
                                <div class="container mt-4">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                                <th>Logged By</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for k in j.timeEntries %}
                                                <tr>
                                                    <td>{{ k.time.strftime("%a, %b %d, %Y") }}</td>
                                                    <td>{{ k.time.strftime("%r") }}</td>
                                                    <td>Check {{ "In" if k.is_check_in else "Out" }}</td>
                                                    <td class="text-break">{{ k.staff.split("@")|first }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-dark" data-bs-toggle="modal"
                                data-bs-target="#modal-{{ i.id }}">
                            Return
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock modals %}
